body{
    width: auto;
    height: 100vh;
    background: url(https://raw.githubusercontent.com/adhesh3/Tangram/master/bg.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.div-wrapper {
    position: relative;
    height: 300px;
    width: 300px;
}

.div-wrapper img {
    position: absolute;
    left: 0;
    bottom: 0;
}
