body{
    width: auto;
    height: 100vh;
    background: url("https://github.com/adhesh3/Tangram/blob/master/bg.png?raw=true");
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.div-wrapper {
    position: relative;
    height: 300px;
    width: 300px;
}

.div-wrapper img {
    position: absolute;
    left: 0;
    bottom: 0;
}
